@charset "utf-8";
/* CSS Document */

body{
	background-color:aqua;
}

#header{
	height:325px;
	width:35%;
	margin:0 32.5%;
}

#bannerimage{
	background:url('../images/Lemoore.png') center no-repeat;
	height:200px;
	width:100%;
}

#container{
    width:100%;
    text-align:center;
	}

#left{
    float:left;
    width:300px;
    height:180px;
    margin-left:100px;
    padding:0 7%;
    text-align:justify;
	}

#center{
    display: inline-block;
    margin:0 39%;
    width:300px;
    height:200px;
    padding:1%;
    clear:both;
	}

#right{
    float:right;
    width:400px;
    height:180px;
    margin-right:100px;
    padding:0 5%;
    text-align:justify;
	}
	
#footer{
	width:100%;
	clear:both;
	padding-left:5%;
}