@charset "utf-8";
/* CSS Document */

html, body{
	text-align: center;
	background-color: gray;
	}

@font-face{
    font-family: borr;
    src: url(../fonts/borr.ttf);
	}

#header{
	margin: 0 auto;
	background:url('../images/CivilWarBattle.jpg') center no-repeat;
	width:880px;
	height:500px;
	position:relative;
    }

#inscription{
	color:red;
	position:absolute;
	margin:25% auto auto 8%;
	}

p{
    color:gold;
    }

#content{
	width:820px;
	height:1150px;
	padding:0 30px;
	font-family: borr, Old Standard TT;
	font-size:48px;
	text-align: justify;
	margin: -65px auto;
	}

#aside{
	width:30%;
	float:right;
	}

#aside ul li a{
    color:gold;
    }

#aside h1{
	text-align:left;
	padding-left:14%;
	font-size:28px;
	color:gold;
	}

#aside ul li{
	font-size:26px;
	color:gold;
	}

h1{
	text-shadow: 2px 2px 2px white;
	color:gold;
	}
	
#footer{
	width:880px;
	margin: 0 auto;
	clear:both;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:gold;
	}

main{
	margin: 0 auto;
	}